@font-face {
  font-family: "Monako";
  src: url("MonaKo.ttf");

  font-family: "Raleway";
  src: url("Raleway.ttf");

  font-family: "PlayfairDisplay";
  src: url("PlayfairDisplay.ttf");

  font-family: "ZillaSlab";
  src: url("ZillaSlab-Regular.ttf");
}


.text-justify {
  font-family: Raleway;
  font-size:1.3em;
}

.card-subtitle{
  font-family: ZillaSlab
}
.welcome {
  height: 100vh;
}

.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

h2 {
  font-family: PlayfairDisplay;
  font-size: 4.1em;
}
p {
  font-family: ZillaSlab;
}

h1 {
  font-family: PlayfairDisplay;
  font-size: 2.1em;
}
h3 {
  font-family: PlayfairDisplay;
}


.card-title {
  font-family: PlayfairDisplay;
  font-weight: bold;
}


.grayboi {
  background-clip: border-box;

  background-color: #f6f6f6;
  background-image: linear-gradient(315deg, #f6f6f6 0%, #e9e9e9 74%);
}

.p-3 {
  padding: 0px !important;
}


/* Media Queries */
/**************************/
@media screen and (max-width: 959px) and (min-width: 768px) {
  #parallax-world-of-ugg .block {
    padding: 40px;
    width: 620px;
  }
}
@media screen and (max-width: 767px) {
  #parallax-world-of-ugg .block {
    padding: 30px;
    width: 420px;
  }
  #parallax-world-of-ugg h2 {
    font-size: 30px;
  }
  #parallax-world-of-ugg .block {
    padding: 30px;
  }
  #parallax-world-of-ugg .parallax-one,
  #parallax-world-of-ugg .parallax-two,
  #parallax-world-of-ugg .parallax-three {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 479px) {
  #parallax-world-of-ugg .block {
    padding: 30px 15px;
    width: 290px;
  }
}

.hiveOperate {
  color: white;
  font-size: 3em;
}

.hiveOperateSmall {
  color: white;
  font-weight: 300;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

.carousel-indicators li {
  visibility: hidden;
}

.custom-dialog {
  width: 50%;
  margin: auto;
}




.existance{
    font: size 1.3em;
}


a {
  text-decoration: none; 
  color: black; 
}

.header {
  margin-left: 1.5em;
}